# use glob syntax.
syntax: glob

*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.ReSharper
*.user
Logs/
RavenServer/Data/

StepDefinitionReport.html
TestResult.html
TestResult.xml

# switch to regexp syntax.
syntax: regexp
